{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"vueIndentScriptAndStyle": true,
	"plugins": [
		"prettier-plugin-organize-imports",
		"@ianvs/prettier-plugin-sort-imports"
	]
}
